/*for the full page*/
#instaWrap {
    /*border: 1px solid black;*/
    height: 350px;
}

#instaInfo {

    margin-top:50px;
    float: left;
}

/*#instaStuff {
    border: 1px solid black;
    width: 150px;
    height: 18px;
    float: left;
    margin-right: 5px;
}*/

#instaColor {
    border: 1px solid black;
    width: 30px;
    height: 20px;
    margin-right: 5px;
}

/*#instaNumber {
    border: 1px solid black;
    width: 50px;
    height: 20px;
    margin-right: 5px;
}*/

/*#instaAdd {
    height: 24px;
    background-color:lightgreen;
    border: 1px solid black;
    padding: 0px;
    width:10px;
}*/

/*canvas*/
#instaPie {
    background-color: thistle;
    width: 500px;
    height: 500px;
    margin-left: 310px;
}

.pieNr 
{
    border: 1px solid black;
    width: 50px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.pieText
{
    border: 1px solid black;
    width: 150px;
    height: 18px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.pieButton {
    height: 24px;
    background-color: lightgreen;
    border: 1px solid black;
    padding: 0px;
    width: 10px;
    margin-bottom: 5px;
}





/*for the app-part*/
#instaWrap2 {
    border: 1px solid black;
    background-color: snow;
    height: 300px;
    width: 662px;
}

#instaInfo2 {
    background-color: cornflowerblue;
    width: 200px;
    height: 60px;
    float: left;
    padding: 3px;
}

#instaStuff2 {
    border: 1px dotted black;
    width: 149px;
    height: 18px;
    float: left;
}

#instaColor2 {
    border: 1px dotted black;
    width: 34px;
    height: 30px;
    margin-top: 5px;
    margin-right: 20px;
}

#instaNumber2 {
    border: 1px solid black;
    width: 50px;
    height: 20px;
    margin-right: 6px;
    margin-left: 1px;
}

#instaSend2 {
}
/*canvas*/
#instaPie2 {
    background-color: thistle;
    width: 430px;
    height: 300px;
    margin-left: 25px;
}


