
#instaWrap {
   
    height: 350px;

}

#pie {
    float: left;
}

#instaInfo {
    background-color: #efe9e9;
    padding: 8px 2px 4px 8px;
    /*padding-left: 7px;
    padding-top: 8px;
    padding-right: 2px;
    padding-bottom: 4px;*/
    border-radius: 5px;
    margin-top: -5px;
    float: left;
    margin-right: 0px;
}



#instaColor {
    border: 1px solid black;
    width: 30px;
    height: 20px;
    margin-right: 5px;
}


#instaPie {
    
    width: 500px;
    height: 500px;
    
}

.pieNr 
{
    border: 1px solid black;
    width: 50px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.pieText
{
    border: 1px solid black;
    width: 150px;
    height: 18px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}



.updateButton {
    margin-left: 0px !important;
    margin-right: -14px;
    width: 152px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: lightgreen!important;
    font-size: initial !important;
    height: 32px;
    padding: 0px !important;
}

.clearButton {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: orangered!important;
}

#buttonDiv {
    margin-top: 11px;
    }

/*flip button*/
    .flip-container {
    perspective: 1000px;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transition-delay: 10s;
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 218px;
    height: 55px;
    margin-top: -10px;
    margin-bottom: -15px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    margin-left: 0px !important;
    margin-right: -14px;
    margin-top: 0px;
    width: 216px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: initial !important;
    height: 32px;
    padding: 0px !important;
    background-color: silver;
}

#loggo {
    text-align: center;
   
}



/*Så textfältet hamnar så man kan greppa det*/
.ui-widget-content {
    z-index: 2;
    border: 3px solid #8f7bc1;
    border-radius: 5px;
    width: 250px;
    background-color: #8f7bc1;
    float: left;
    margin:5px;
}

#draggable1 {
    top: -500px;
    background-color: #B378C1;
}

#draggable2 {
    top: -320px;
    left: -265px;
    background-color: #F25F5C;
}

#draggable3 {
    top: -500px;
    left: +280px;
    background-color: #FFE066;
}

#draggable4 {
    top: -320px;
    left: +15px;
    background-color: #2B98C5;
}

#draggable5 {
    top: -280px;
    left: +400px;
    background-color: #70C1B3;
}



}
#pieAndInfo {
   
    float: left;
    height: 365px;
}

#outerDiv {
    
    height: 416px;
    width: 232px;
    border-radius: 10px;
    background-color: #efe9e9;
    float: left;
}

#textArea {
    height: 340px;
    width: 192px;
    border: 1px solid black;
    margin-top: 13px;
    margin-left: 15px;
}

#listMenu {
    height: 32px;
    width: 202px;
    margin-left: 15px;
    
    padding-left: inherit;
}

li.icons {
    display: inline;
   
    float: left;
    margin-left: 21px;
}

li.icons:hover {
    background-color: #555;
    color: white;
}